# Server Configuration
PORT=

# Other Configuration
DEBUG=

# Database Configuration
# DB_SSLMODE set to enable on production
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=

# Redis Configuration
REDIS_ADDR=
REDIS_PASSWORD=

# JWT Configuration
IDENTITY_PROVIDER_ID=
JWT_SECRET=

# Frontend Configuration
FRONTEND_URL=

# SMTP
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
COOKIE_DOMAIN=